.Rproj.user
.Rhistory
.RData
.Ruserdata
*.jpeg
output_comm_wide/
MS_presentation/
data/detection/occ_Longo_et_al/unique_loc_GOL.xlsx
data/detection/occ_Longo_et_al/Data_Trophic_Interactions_WAtlantic_GLongo.csv

