.Rproj.user
.Rhistory
.RData
.Ruserdata
output/*.RData
papers
MS_presentation
R/modelos_previos
data/traits
R/modelos_previos
bugs/previous_models
output/Vect/*.pdf
output/Vect/*.svg
R/morais_not_used
data/coralsIUCN
data/fishIUCN
data/detection/UpdatedData_RMorais_et_al_2017.xlsx
data/detection/UpdatedData_RMorais_et_al_2017.csv
data/detection/Metadata_UpatedData_RMorais_et_al_2017
output/Vect/fotos

