.Rproj.user
.Rhistory
.RData
.Ruserdata
*.jpeg

output
output_comm_wide
papers
R
bugs
MS_presentation

data/coralsIUCN
data/fishIUCN
data/detection/UpdatedData_RMorais_et_al_2017.xlsx
data/detection/UpdatedData_RMorais_et_al_2017.csv
data/detection/Metadata_UpatedData_RMorais_et_al_2017

